$primerColor: #00ADB5;
$segundoColor: #EEEEEE;
$tercerColor: #393E46;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media all and (min-width: 300px) {
    .iframe iframe {
        width: 60%;
    }
}

/* Se declaran estilos del cuerpo */
body {
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

/* Todos los titulos de inicio de una pagina llevan un estilo */
.titulos {
    margin: 20px;
    text-align: center;
}

/* Se declara el estilo del footer en todas las paginas */
.footer {
    background-color: $primerColor;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Se dan estilos del incio */
.inicio {
    text-align: center;
    margin: 50px;
    float: left;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
}


/* Despues de importar los iframe de youtube se le dan estilos */
.iframe {
    text-align: center;
    margin: 30px;
    padding: 20px;

    iframe {
        margin: 10px;
    }
}

/* Todos los parrafos de cada pagina llevan un estilo */
.parrafo-inicios p {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

/* Galeria */
#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 40px;
}

#galeria img {
    width: 100%;
    height: 300px;
    transition: 0.3s;
    object-fit: contain;
}

#galeria img:hover {
    border: 10px double $segundoColor;
}


.cat-text {
    text-align: center;
    margin: 10px;
}

/* En la seccion de preguntas se dio formato los cuales se vieran con bordes para diferenciar */
.pregunta {
    margin: 50px;
    padding: 20px;
    border: solid $tercerColor;

    h2 {
        margin: 10px;

        p {
            font-size: 18px;
            margin: 10px;
        }
    }
}

/* El formulario es simple pero es donde mas le meti para que se viera bien, se pusieron bordes, margenes, colores, posicionamiento, etc, */
.formulario {
    width: 350px;
    background-color: $tercerColor;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    border-radius: 4px;
    color: $segundoColor;
}

.datos {
    width: 100%;
    background-color: $tercerColor;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid $primerColor;
    font-size: 18px;
    color: $segundoColor;
}

.formulario textarea {
    width: 100%;
    background-color: $tercerColor;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid $primerColor;
    font-size: 18px;
    color: $segundoColor;
}

.checkbox {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: $segundoColor;
}

.botones {
    width: 100%;
    background-color: $primerColor;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
}

.header .navbar-toggler{
    background-color: $segundoColor;
}